.context-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;

    &>* {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .ico {
        margin-top: -2px;
        width: 10px;
        height: 10px;
    }
}