<div class="overlay-container">
  <div class="overlay-content">
    <div class="search-wrapper">
      <input #searchInputElm type="text" (keyup)="onSearchInputKeyUp($event)" />
    </div>
    <div class="scroll-container">
      <ul>
        @for (item of filteredItems; track $index) {
        <li class="column-item" (click)="selectColumnValue.emit(item)">
          <span
            class="indicator-item"
            [class.existing-item]="isExistingitem(item)"
          ></span>
          <span class="item-value">
            {{ item.DataValue }}
          </span>
        </li>
        }
      </ul>
    </div>
  </div>
</div>
