.overlay-content {
    min-width: 200px;
    row-gap: 5px;
    background-color: #fff;

    .search-wrapper {
        display: flex;
        flex: 1 1 auto;

        input {
            border: solid 1px #4794ff;
            border-radius: 2px;
            outline: none;
            font-size: 14px;
            padding: 4px 5px;
            flex: 1 1 auto;
        }
    }

    .scroll-container {
        max-height: 100px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        padding: 2px 0;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;

            li {
                padding: 2px 5px;
                border-radius: 2px;
                cursor: pointer;
                text-align: left;
                font-size: 12px;
                line-height: 1.4em;

                &:hover {
                    background-color: #e0e0e0;
                }
            }
        }
    }

    .scroll-container::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .scroll-container::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        border: 3px solid transparent;
        border-radius: 6px;
        min-height: 20px;
        background-color: rgba(0, 0, 0, .35);
    }
}