// @import "../../../../assets/styles/app";
@import "var";

.actions-container {
    display: flex;
    flex-direction: row;
    // column-gap: 30px;

    // grid-template-columns: 200px 1fr 100px;
    // grid-template-rows: 40px;

    background: $action-container-color;
    border-bottom: solid 1px $separator-line-color;

    .action-group-separator {
        display: flex;
        flex-direction: row;
        align-items: center;
        opacity: 0.5;
        font-size: 1.2em;
        margin-top: -5px;
    }

    .action-group {
        display: flex;
        flex-direction: row;
        padding: 0px 5px;
        height: 40px;
        column-gap: 30px;
        align-items: center;

        color: $neutral-gray-text;

        padding: 0 10px;

        .action-item {
            display: flex;
            flex-direction: row;
            column-gap: 5px;
            align-items: center;
        }
    }

    .right-group {
        // justify-self: flex-end;
        // justify-items: flex-end;
        // border: solid 1px red;
        // text-align: right;
    }

}

/////////////////////////////////////////////////////////////////////////////////////////
//  table-container

.table-container {
    border: solid 1px #e0e0e0;
    border-top: none;
    overflow: auto;

    .row-item {
        padding: 2px;

        .data-item {
            width: 150px;
            min-width: 150px;
            border-radius: 2px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: clip;
        }
    }
}

.header-container {
    display: flex;
    flex-direction: row;

    .column-container {
        .row-item {
            background: $selected-table-color;
            border-bottom: solid 1px #9caed5;

            .field-name {
                color: $neutral-gray-text;
                padding: 2px 5px;
                text-wrap: nowrap;
            }
        }
    }

    .column-container:last-of-type {
        width: 100%;

        .row-item {
            width: unset;
        }
    }
}

.body-container {
    display: flex;
    flex-direction: row;

    .column-container {
        .row-item {
            border-bottom: solid 1px #f0f0f0;

            .data-item {
                color: #666;
                padding: 2px 5px;
                text-wrap: nowrap;
                font-weight: 300;
            }
        }

        .row-item:last-of-type {
            border: none;
        }
    }

    .column-container:last-of-type {
        width: 100%;

        .row-item {
            width: unset;
        }
    }
}

.footer-container {
    display: flex;
    flex-direction: row;
}

.end-actions-container {
    display: flex;
    flex-direction: row;

    margin-top: 20px;

    .action-item {
        font-size: 0.8em;
        padding: 0px 10px;
        border: solid 1px #f3f3f3;
        border-radius: 5px;

        background-color: $button1-color;
        color: $button1-text-color;
    }
}