.overlay-content {
    min-width: 200px;
    row-gap: 15px;

    .field-item {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        border-radius: 3px;
        border: solid 1px #e0e0e0;
        padding: 2px 5px;

        & label {
            color: #555;
            font-weight: 300;
            font-size: 0.9em;
        }

        &>* {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            text-align: left;
            font-size: 14px;
        }

        &>input {
            border: none;
            padding: 4px 5px;
            outline: none;
        }

        .list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 5px;
            font-size: 14px;
            color: #333;
            font-weight: 400;
            letter-spacing: 0.496px;
            line-height: 24px;

            padding: 4px 5px;

            .ico {
                height: 10px;
                width: 10px;
            }
        }

        .list-item:hover {
            background-color: #e0e0e0;
        }
    }

    .narrow-item {
        padding: 0;
    }

    .field-item-hidden {
        display: none;
    }
}

.hidden-item {
    display: none;
}

.mat-option-reset {
    padding: 5px 5px !important;
    font-size: 14px !important;
    min-height: unset !important;
    height: unset !important;
}