<div class="overlay-container">
  <!-- <div class="overlay-heading"> -->
  <!-- <div class="overlay-title">Add field</div> -->
  <!-- </div> -->
  <div class="overlay-content">
    <!-- Field name -->
    <div class="field-item">
      <!-- [value]="fieldName" -->
      <input
        id="field-name"
        [value]="fieldName"
        [(ngModel)]="fieldName"
        autocomplete="off"
        type="text"
        placeholder="Enter field name"
      />
    </div>

    <!-- Dropdown list shown after field type is initially selected from list -->
    <div
      [class]="disSelectedField == false ? 'field-item-hidden' : 'field-item'"
    >
      <mat-select
        #matSelect
        name="field-type"
        class="item-select"
        [value]="selectedFieldType"
        (selectionChange)="onFieldTypeChanged(matSelect, $event)"
      >
        <mat-option
          class="mat-option-reset"
          [value]="FieldType.FieldTypeString"
          selected
        >
          Single line text
        </mat-option>
        <mat-option
          class="mat-option-reset"
          [value]="FieldType.FieldTypeNumber"
        >
          {{ FieldType.FieldTypeNumber }}
        </mat-option>
        <mat-option class="mat-option-reset" [value]="FieldType.FieldTypeDate">
          {{ FieldType.FieldTypeDate }}
        </mat-option>
        <mat-option
          class="mat-option-reset"
          [value]="FieldType.FieldTypeOption"
        >
          {{ FieldType.FieldTypeOption }}
        </mat-option>
      </mat-select>
    </div>

    <div
      [class]="
        isOptionFieldTypeDisabled()
          ? 'option-content-wrapper'
          : 'field-item-hidden'
      "
    >
      <h3>Options</h3>
      <div [class.hidden-item]="!isEmptyOptionList">
        Add one or more options.
      </div>
      <ul class="option-container" [class.hidden-item]="isEmptyOptionList">
        @for(item of optionInfoElm; track item.OptionInfo.OptionIndex) {
        <li>
          <ul class="option-item-container">
            <!-- <li class="option-input-move-handle">::</li> -->
            <li class="option-input-container">
              <div class="option-value-wrapper">
                <!-- [(ngModel)]="item" -->
                <!-- [(ngModel)]="item.OptionName"
                  [attr.data-option-index]="item.OptionIndex"
                  [attr.data-option-name]="item.OptionName"
                  (keyup)="onOptionValueChange($event, item.OptionIndex)"
                  (blur)="onOptionValueBlur($event, item.OptionIndex)"
                  [disabled]="isOptionFieldTypeDisabled()"
                  [attr.data-field-type]="selectedFieldType"
                  [attr.data-field-name]="fieldName"
                  [attr.data-base-guid]="baseGUID"
                  [attr.data-table-guid]="tableGUID"
                  [attr.data-option-index]="item.OptionIndex"
                  (ngModelChange)="onOptionValueChange($event, item.OptionIndex)"
                  (blur)="onOptionValueBlur($event, item.OptionIndex)" -->
                <input
                  class="option-value"
                  [id]="'option-value-' + item.OptionInfo.OptionId"
                  [value]="item.OptionInfo.OptionName"
                  autocomplete="off"
                  type="text"
                  placeholder="Enter option value"
                  (keyup)="onOptionValueChange($event, item)"
                  (focus)="onOptionInputFocus($event, item)"
                  (blur)="onOptionValueBlur($event, item)"
                />
              </div>
            </li>
            <li class="option-input-action">
              <div (click)="onRemoveOption(item)">X</div>
            </li>
          </ul>
        </li>
        }
      </ul>
      <div class="option-action-container">
        <button class="action-create" (click)="onAddOption()">
          Add option
        </button>
      </div>
    </div>

    <!-- Select field type -->
    <ul
      [class]="
        disSelectedField == false
          ? 'field-item narrow-item'
          : 'field-item-hidden'
      "
    >
      <li
        class="list-item"
        (click)="onSelectFieldType(FieldType.FieldTypeString)"
      >
        <span>
          <img class="ico" src="/assets/images/ico-field-string.png" alt=""
        /></span>
        Single line text
      </li>
      <li
        class="list-item"
        (click)="onSelectFieldType(FieldType.FieldTypeNumber)"
      >
        <span>
          <img class="ico" src="/assets/images/ico-field-number.png" alt=""
        /></span>
        {{ FieldType.FieldTypeNumber }}
      </li>
      <li
        class="list-item"
        (click)="onSelectFieldType(FieldType.FieldTypeDate)"
      >
        <span>
          <img class="ico" src="/assets/images/ico-field-date.png" alt=""
        /></span>
        {{ FieldType.FieldTypeDate }}
      </li>
      <li
        class="list-item"
        (click)="onSelectFieldType(FieldType.FieldTypeOption)"
      >
        <span>
          <img class="ico" src="/assets/images/ico-field-select.png" alt=""
        /></span>
        {{ FieldType.FieldTypeOption }}
      </li>
    </ul>
  </div>

  <div class="overlay-footer">
    <ul class="actions-container">
      <li>
        <button class="action-cancel" (click)="onCancel()">Cancel</button>
      </li>
      <li>
        <button class="action-create" (click)="onApplyChanges()">
          Create field
        </button>
      </li>
    </ul>
  </div>
</div>
