<div class="overlay-container">
  <!-- <div class="overlay-heading"> -->
  <!-- <div class="overlay-title">Add field</div> -->
  <!-- </div> -->
  <div class="overlay-content">
    <!-- Field name -->
    <div class="field-item">
      <!-- [value]="fieldName" -->
      <input
        id="field-name"
        [value]="fieldName"
        [(ngModel)]="fieldName"
        autocomplete="off"
        type="text"
        placeholder="Enter field name"
      />
    </div>

    <!-- Dropdown list shown after field type is initially selected from list -->
    <div
      [class]="disSelectedField == false ? 'field-item-hidden' : 'field-item'"
    >
      <mat-select
        #matSelect
        name="field-type"
        class="item-select"
        [value]="selectedFieldType"
        (selectionChange)="onFieldTypeChanged(matSelect, $event)"
      >
        <!-- Single line text option-->
        <mat-option
          class="mat-option-reset"
          [value]="FieldType.FieldTypeString"
          selected
        >
          Single line text
        </mat-option>
        <!-- Number Option-->
        <mat-option
          class="mat-option-reset"
          [value]="FieldType.FieldTypeNumber"
        >
          {{ FieldType.FieldTypeNumber }}
        </mat-option>
        <!-- Date option -->
        <mat-option class="mat-option-reset" [value]="FieldType.FieldTypeDate">
          {{ FieldType.FieldTypeDate }}
        </mat-option>
        <!-- Yes/No option -->
        <mat-option class="mat-option-reset" [value]="FieldType.FieldTypeYesNo">
          {{ FieldType.FieldTypeYesNo }}
        </mat-option>
        <!-- Star rating option -->
        <!-- <mat-option class="mat-option-reset" [value]="FieldType.FieldTypeStar">
          {{ FieldType.FieldTypeStar }}
        </mat-option> -->
        <!-- Select Option -->
        <mat-option
          class="mat-option-reset"
          [value]="FieldType.FieldTypeOption"
        >
          {{ FieldType.FieldTypeOption }}
        </mat-option>
        <!-- Relationship option -->
        <mat-option
          class="mat-option-reset"
          [value]="FieldType.FieldTypeRelationship"
        >
          {{ FieldType.FieldTypeRelationship }}
        </mat-option>
      </mat-select>
    </div>

    <!-- Select field type -->
    <ul
      [class]="
        disSelectedField == false
          ? 'field-item narrow-item'
          : 'field-item-hidden'
      "
    >
      <!-- Single line text -->
      <li
        class="list-item"
        (click)="onSelectFieldType(FieldType.FieldTypeString)"
      >
        <span>
          <img class="ico" src="/assets/images/ico-field-string.png" alt=""
        /></span>
        Single line text
      </li>
      <!-- Number -->
      <li
        class="list-item"
        (click)="onSelectFieldType(FieldType.FieldTypeNumber)"
      >
        <span>
          <img class="ico" src="/assets/images/ico-field-number.png" alt=""
        /></span>
        {{ FieldType.FieldTypeNumber }}
      </li>
      <!-- Date -->
      <li
        class="list-item"
        (click)="onSelectFieldType(FieldType.FieldTypeDate)"
      >
        <span>
          <img class="ico" src="/assets/images/ico-field-date.png" alt=""
        /></span>
        {{ FieldType.FieldTypeDate }}
      </li>
      <!-- Yes/No field -->
      <li
        class="list-item"
        (click)="onSelectFieldType(FieldType.FieldTypeYesNo)"
      >
        <span>
          <img class="ico" src="/assets/images/ico-field-yes-no.png" alt=""
        /></span>
        {{ FieldType.FieldTypeYesNo }}
      </li>
      <!-- Star rating -->
      <!-- <li
        class="list-item"
        (click)="onSelectFieldType(FieldType.FieldTypeStar)"
      >
        <span>
          <img class="ico" src="/assets/images/ico-field-date.png" alt=""
        /></span>
        {{ FieldType.FieldTypeStar }}
      </li> -->
      <!-- Options field -->
      <li
        class="list-item"
        (click)="onSelectFieldType(FieldType.FieldTypeOption)"
      >
        <span>
          <img class="ico" src="/assets/images/ico-field-select.png" alt=""
        /></span>
        {{ FieldType.FieldTypeOption }}
      </li>
      <!-- Linked field -->
      <li
        class="list-item"
        (click)="onSelectFieldType(FieldType.FieldTypeRelationship)"
      >
        <span>
          <img
            class="ico"
            src="/assets/images/ico-field-relationship.png"
            alt=""
        /></span>
        {{ FieldType.FieldTypeRelationship }}
      </li>
    </ul>

    <!-- Logic to show sub-menu elements -->
    @switch(selectedFieldType) {

    <!-- UI for Option memnu element-->
    @case (FieldType.FieldTypeOption) {
    <menu-element-option
      (optionInfoList)="onOptionInfoListChanged($event)"
    ></menu-element-option>
    }

    <!-- UI for Relationsip menu element -->
    @case (FieldType.FieldTypeRelationship) {
    <menu-element-relationship
      [baseGUID]="baseGUID"
      [parentTableGUID]="tableGUID"
      (hasValidSaveState)="onMenuElementSaveStateChanged($event)"
      (relationshipInfo)="onRelationshipInfoChanged($event)"
    ></menu-element-relationship>
    }

    <!-- End switch -->
    }
  </div>

  <div class="overlay-footer">
    <ul class="actions-container">
      <li>
        <button class="action-cancel" (click)="onCancel()">Cancel</button>
      </li>
      <li>
        <button
          class="action-create"
          (click)="onApplyChanges()"
          [disabled]="!isMenuElementValid"
        >
          Create field
        </button>
      </li>
    </ul>
  </div>
</div>
