$button1-color: rgb(16, 86, 218);
$button1-text-color: #fff;

.app-page {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.link-action {
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;

    .card {
        display: flex;
        border: solid 1px #f0f0f0;
        padding: 5px;
        min-width: 100px;
        min-height: 50px;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
    }

    .card:hover {
        cursor: pointer;
        background: #f3f3f3;
        border-color: #e0e0e0;
    }
}

.table-container {
    border: solid 1px #e0e0e0;
    overflow: auto;

    .row-item {
        padding: 2px;

        .data-item {
            font-weight: 300;
            width: 150px;
            min-width: 150px;

            // border: solid 1px #f0f0f0;
            border-radius: 2px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: clip;
        }
    }
}

.header-container {
    display: flex;
    flex-direction: row;

    .column-container {
        .row-item {
            background: #f3f3f3;
            border-bottom: solid 1px #9caed5;

            .data-item {
                color: #333;
                padding: 2px 5px;
                // font-weight: 700;
            }
        }
    }

    .column-container:last-of-type {
        width: 100%;

        .row-item {
            width: unset;
        }
    }
}

.body-container {
    display: flex;
    flex-direction: row;

    .column-container {
        .row-item {
            border-bottom: solid 1px #f0f0f0;

            .data-item {
                color: #666;
                padding: 2px 5px;
                // border: solid 1px #f3f3f3;
            }
        }

        .row-item:last-of-type {
            border: none;
        }
    }

    .column-container:last-of-type {
        width: 100%;

        .row-item {
            width: unset;
        }
    }
}

.footer-container {
    display: flex;
    flex-direction: row;

    padding: 10px 5px;
    border-top: solid 1px #f0f0f0;
    position: relative;

    height: 30px;

    .actions-container {
        position: fixed;
        // left: 0;

        .action-item {
            font-size: 0.8em;
            padding: 0px 10px;
            border: solid 1px #f3f3f3;
            border-radius: 5px;

            background-color: $button1-color;
            color: $button1-text-color;
        }
    }
}