@import "var";

$bg-selected-nav-item: rgba($color: #000000, $alpha: .05);
$border-selected-nav-item: solid 1px rgba($color: #000000, $alpha: .10);
$border-nav-item: solid 1px transparent;

$bg-heading-color: rgb(85, 195, 255);

.colored-heading {
    background-color: $bg-heading-color;
    display: flex;
    flex-direction: column;

    color: #333;

    .base-nagivation-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: 10px 0;

        .app-page-title {
            margin-left: 10px;
        }

        .navigation-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 20px;

            .navigation-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 0px;

                .nav-item {
                    border-radius: 15px;
                    border: $border-nav-item;
                    padding: 2px 15px;
                    cursor: pointer;
                }

                .is-selected {
                    background-color: $bg-selected-nav-item;
                    border: $border-selected-nav-item;
                }
            }
        }

        .settings-group {
            display: flex;
            flex-direction: row;
            justify-self: flex-end;
            column-gap: 20px;
            margin-right: 10px;

            .nav-info,
            .nav-item {
                padding: 5px 10px;

            }

            .nav-item {
                cursor: pointer;
            }

            .avatar {
                display: flex;
                flex-direction: row;
                align-items: center;
                border-radius: 20px;
                border: solid 1px #fff;
                width: 30px;
                height: 30px;
                padding: 0;
                color: #555;
                background-color: rgb(255, 204, 0);
                justify-content: center;
            }
        }
    }
}

.content-nav-container {
    background-color: $bg-heading-color;

    .table-name-container {
        display: flex;
        flex-direction: row;

        column-gap: 5px;

        background-color: rgba(51, 51, 51, 0.12);
        margin: 0 5px 0 5px;
        border-radius: 5px 5px 0 0;

        .item {
            display: flex;
            align-items: center;
            column-gap: 5px;
            height: 35px;
            padding: 0px 15px;
            letter-spacing: 0.05em;
            cursor: pointer;
            color: #333;

            .ico {
                opacity: 0.7;
            }
        }

        .is-selected {
            background: $selected-table-color;
            color: #000;
            border-radius: 3px 3px 0 0;
        }
    }
}