// @import "../../../../assets/styles/app";
@import "var";

:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    // overflow: hidden;
}

.host-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.actions-container {
    display: flex;
    flex-direction: row;
    background: $action-container-color;
    border-bottom: solid 1px $separator-line-color;

    .action-group-separator {
        display: flex;
        flex-direction: row;
        align-items: center;
        opacity: 0.5;
        font-size: 1.2em;
        margin-top: -5px;
    }

    .action-group {
        display: flex;
        flex-direction: row;
        padding: 0px 5px;
        height: 40px;
        column-gap: 30px;
        align-items: center;

        color: $neutral-gray-text;

        padding: 0 10px;

        .action-item {
            display: flex;
            flex-direction: row;
            column-gap: 5px;
            align-items: center;
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////////////
// panels

.panels {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

    .child-panel {
        display: flex;
        flex-direction: column;
        width: 200px;
        border-right: solid 1px $separator-line-color;
    }

    .content-panel {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;

        overflow: hidden;

    }
}

/////////////////////////////////////////////////////////////////////////////////////////
//  table-container
$data-item-width: 150px;
$data-item-height: 25px;
$grid-border-color: #e3e3e3;
$grid-active-border-color: blue;
$grid-cell-background-color: #fff;

.table-container {
    display: flex;
    flex-direction: column;
    border-top: none;

    flex: 1 1 auto;
    overflow: hidden;

    .data-view-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow: hidden;

        .scroll-inner-container {
            display: grid;
            grid-template-rows: auto 1fr;
            flex: 1 1 auto;
            overflow: auto;
        }

        .scroll-inner-container::-webkit-scrollbar {
            width: 10px;
            height: 8px;
            // margin-bottom: 20px;
        }

        .scroll-inner-container::-webkit-scrollbar-thumb {
            background: rgba(90, 90, 90, 0.5);
        }

        .scroll-inner-container::-webkit-scrollbar-corner {
            background-color: transparent;
            border-color: transparent;
        }

        // .scroll-inner-container::-webkit-scrollbar-track {
        //     // padding-bottom: 20px;
        //     // height: 20px
        // }
    }
}

.header-container {
    display: flex;
    flex-direction: row;
    background-color: #e5e5e5;
    border-bottom: solid 1px #cecece;

    .column-container {
        .row-item {
            background: #e5e5e5;

            overflow: hidden;

            .header-item-wrapper {
                width: $data-item-width;
                max-width: $data-item-width;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: clip;

                .data-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    border-left: solid 1px #cecece;
                    border-right: solid 1px transparent;

                    .field-name {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        column-gap: 5px;
                        color: $neutral-gray-text;
                        text-wrap: nowrap;
                        padding: 2px 5px;

                        .ico {
                            height: 12px;
                            width: 12px;
                            padding: 0;
                            margin-top: -1px;
                            border: none;
                            opacity: 0.5;
                        }
                    }

                    .action-item {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        border-radius: 2px;
                        border: solid 1px transparent;

                        .ico {
                            padding: 5px;
                            opacity: 0.25;
                            width: 10px;
                            height: 10px;
                        }
                    }

                    .action-item:hover {
                        background-color: #d0d0d0;
                    }
                }


                .data-item:hover {
                    .action-item {
                        border-color: #d0d0d0;

                        .ico {
                            opacity: 1;
                        }
                    }
                }

                .action-item {
                    cursor: pointer;
                }

                .action-item:hover {
                    background-color: #d0d0d0;
                }
            }

        }
    }
}

// .body-wrapper-container {}

.body-container {
    display: flex;
    flex-direction: row;
    background-color: #f3f3f3;
    border-bottom: solid 1px #cecece;


    .column-container {
        .row-item-wrapper {
            outline: none;
        }

        .row-item,
        .active-row-item {
            height: $data-item-height;
            max-height: $data-item-height;

            width: $data-item-width;
            max-width: $data-item-width;
        }

        .data-item,
        .active-data-item {
            display: flex;
            position: relative;
            height: 100%;
            width: $data-item-width;
            min-width: $data-item-width;

            font-weight: 300;
            font-size: $font-size;
            white-space: nowrap;
            text-overflow: clip;

            background-color: $grid-cell-background-color;
        }

        .row-item {
            position: relative;
            z-index: 1;
            overflow: hidden;

            .data-item {
                z-index: 1;
                align-items: center;
                overflow: hidden;
                border: solid 1px $grid-border-color;

                .value-item-container {
                    display: flex;
                    flex: 1 1 auto;

                    z-index: 1;
                    padding: 0px 5px;
                    margin: 2px;

                    overflow: hidden;
                }

                .option-value-container {
                    background-color: #f0f0f0;
                    border-radius: 5px;
                    line-height: 1em;
                    padding: 3px 5px;
                }
            }
        }

        .active-row-item {
            z-index: 100;
            padding-bottom: 1px;

            .active-data-item {
                display: flex;

                position: relative;
                z-index: 100;

                padding: 0;

                .value-item-container {
                    display: flex;

                    position: absolute;
                    left: -2px;
                    top: -2px;
                    width: 100%;
                    height: 100%;
                    z-index: 100;

                    border-radius: 3px;

                    .input-wrapper {
                        display: grid;
                        grid-template-rows: 1fr;
                        grid-template-columns: 1fr;

                        z-index: 100;

                        .input-elm {
                            display: flex;
                            font-weight: 300;
                            font-size: $font-size;
                            position: absolute;
                            height: 100%;
                            width: $data-item-width - 5px;
                            z-index: 100;

                            padding-left: 8px;
                            border-radius: 5px;
                            border: solid 2px $grid-active-border-color;
                            outline: none;
                        }
                    }
                }
            }
        }
    }

    .column-container {
        .row-item:first-of-type {
            .data-item {
                border-top: none;
            }
        }

        .active-row-item:first-of-type {
            margin-bottom: 0px;

            .active-data-item {
                height: $data-item-height - 2px;
            }

        }

        .row-item:last-child {
            border-bottom: solid 1px $grid-border-color;
        }
    }

    .column-container:last-child {
        .row-item {
            border-right: solid 1px $grid-border-color;
        }
    }

    .column-container {
        .row-item-wrapper:last-of-type {
            .row-item {
                border-bottom: none;
            }
        }
    }
}

// .body-container,
// .header-container {
//     min-width: max-content;
// }

.footer-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    // border-top: solid 1px #cecece;
    background-color: #fafafa;
    // background-color: #e8e8e8;

    .end-actions-container {
        display: flex;
        flex-direction: row;

        button.action-item {
            cursor: pointer;
            font-size: 0.8em;
            padding: 0px 10px;
            border: solid 1px #f3f3f3;
            border-radius: 5px;
            min-height: 25px;

            background-color: $button1-color;
            color: $button1-text-color;
        }

        button:active {
            top: 1px;
            transform: scale(0.95);
        }
    }
}