<div class="host-container">
  <div class="actions-container">
    <ul class="action-group">
      <li class="action-item">
        <img class="ico" src="/assets/images/ico-views.png" alt="" /> Views
      </li>
      <li class="action-item">
        <img class="ico" src="/assets/images/ico-projections.png" alt="" />
        Projections
      </li>
      <li class="action-item">
        <span class="action-group-separator">⎸</span>
      </li>
    </ul>

    <ul class="action-group">
      <li class="action-item">Main View</li>
      <li class="action-item">
        <img class="ico" src="/assets/images/ico-hide.png" alt="" /> Hide fields
      </li>
      <li class="action-item">
        <img class="ico" src="/assets/images/ico-filter.png" alt="" /> Filter
        fields
      </li>
      <li class="action-item">
        <img class="ico" src="/assets/images/ico-sort.png" alt="" /> Sort
      </li>
      <!-- <li class="action-item">Color</li> -->
      <li class="action-item">
        <img class="ico" src="/assets/images/ico-share.png" alt="" /> Share and
        sync
      </li>
    </ul>

    <ul class="action-group right-group">
      <li class="action-item">
        <img class="ico" src="/assets/images/ico-search.png" alt="" /> search
      </li>
    </ul>
  </div>

  <ul class="panels">
    <!-- <li class="child-panel">stuff</li> -->
    <li class="content-panel">
      <div class="table-container">
        <div class="data-view-container">
          <div class="scroll-inner-container">
            <!-- DATA ROW HEADER -->
            <div class="header-container">
              @for (field of tableRecordData?.FieldsMetaData; track $index) {
              <ul class="column-container">
                <li class="row-header-item row-item">
                  <div class="header-item-wrapper">
                    <ul
                      class="data-item"
                      cdkOverlayOrigin
                      #fieldContextOverlay="cdkOverlayOrigin"
                    >
                      <li class="field-name">
                        <img
                          class="ico"
                          src="/assets/images/{{ fieldTypeToImg(field) }}.png"
                          alt=""
                        />
                        {{ field.FieldName }}
                      </li>
                      <li
                        class="action-item"
                        (click)="onOpenFieldContextMenu(field.FieldGUID)"
                      >
                        <img
                          class="ico"
                          src="/assets/images/ico-context.png"
                          alt=""
                        />
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>

              <!-- Field context menu template -->
              <ng-template
                cdkConnectedOverlay
                [cdkConnectedOverlayOrigin]="fieldContextOverlay"
                [cdkConnectedOverlayOpen]="
                  isFieldContextMenuOpen(field.FieldGUID)
                "
                (detach)="onFieldOverlayDetached()"
                (overlayOutsideClick)="onFieldOverlayDetached()"
              >
                @switch (showEditFieldOverlay) {
                <!--  -->
                @case (true) {
                <app-edit-field-context-menu-overlay
                  [field]="field"
                  [baseGUID]="baseGUID!"
                  [tableGUID]="selectedTableGUID!"
                  (closePanel)="onFieldOverlayDetached()"
                  (didClickSave)="onUpdateField($event)"
                ></app-edit-field-context-menu-overlay>
                <!-- <ng-container [ngTemplateOutlet]="edittemplate"></ng-container> -->
                }

                <!--  -->
                @case (false) {
                <app-field-context-menu-overlay
                  [field]="field"
                  (editField)="onEditField($event)"
                  (deleteField)="onDeleteField($event)"
                >
                  <!-- <hr /> -->
                  <!-- <div>stuff 1</div> -->
                  <!-- <div>stuff 2</div> -->
                  <!-- <div>stuff 3</div> -->
                </app-field-context-menu-overlay>
                } }
              </ng-template>

              }
              <!-- Add Filed -->
              <ul class="column-container">
                <li class="row-item">
                  <div class="header-item-wrapper">
                    <ul
                      class="data-item action-item"
                      (click)="onOpenFieldContextMenu(AddFieldAction)"
                      cdkOverlayOrigin
                      #addFieldOverlay="cdkOverlayOrigin"
                    >
                      <li class="field-name">
                        <img
                          class="ico"
                          src="/assets/images/ico-add.png"
                          alt=""
                        />Add field
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <!-- BODY -->
            <div class="body-wrapper-container">
              <div class="body-container">
                @for (field of tableRecordData?.FieldsMetaData; track $index;
                let colIndex = $index) {
                <!-- Column  -->
                <div class="column-container">
                  @for (columnData of columnValues(field); track $index; let
                  rowIndex = $index) {
                  <!--  Row -->

                  <div
                    class="row-item-wrapper"
                    tabindex="0"
                    [attr.data-cell-id]="
                      'row-item-wrapper-' + colIndex + '-' + rowIndex
                    "
                    (click)="
                      onSelectRowItem($event, columnData, colIndex, rowIndex)
                    "
                  >
                    @if(isActiveCell(columnData)) {
                    <div class="active-row-item" cdkOverlayOrigin>
                      <div class="active-data-item">
                        <div class="value-item-container">
                          <div class="input-wrapper">
                            <input
                              #gridInputElement
                              class="input-elm"
                              type="text"
                              [attr.data-cell-id]="
                                'input-' + colIndex + '-' + rowIndex
                              "
                              (focus)="onInputCellFocus()"
                              (blur)="onInputCellBlur()"
                              (keyup)="
                                onInputCellKeyup(
                                  $event,
                                  field,
                                  columnData,
                                  colIndex,
                                  rowIndex
                                )
                              "
                              [(ngModel)]="dirtyDataValue"
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    } @else {
                    <div
                      class="row-item"
                      cdkOverlayOrigin
                      #tableCellContextMenu="cdkOverlayOrigin"
                      (contextmenu)="
                        onShowTableCellContextMenu(columnData.CellGUID)
                      "
                    >
                      <div class="data-item">
                        <div class="value-item-container">
                          {{ columnData.DataValue }}
                        </div>
                      </div>
                    </div>
                    <ng-template
                      cdkConnectedOverlay
                      [cdkConnectedOverlayOrigin]="tableCellContextMenu"
                      [cdkConnectedOverlayOpen]="
                        isTableCellContextMenuOpen(columnData.CellGUID)
                      "
                      (detach)="onFieldOverlayDetached()"
                      (overlayOutsideClick)="onFieldOverlayDetached()"
                    >
                      <app-table-cell-context-menu
                        [field]="field"
                        (deleteRecord)="
                          onDeleteRecord($event, columnData.RecordGUID)
                        "
                      ></app-table-cell-context-menu>
                    </ng-template>
                    }
                  </div>
                  }
                </div>
                }
              </div>
            </div>
          </div>
        </div>

        <!-- FOOTER -->
        <div class="footer-container">
          <div>
            <div class="end-actions-container">
              <button class="action-item" (click)="onAddRow()">Add Row</button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- <ng-template #edittemplate> things </ng-template> -->

<!-- Add Field Template -->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="addFieldOverlay"
  [cdkConnectedOverlayOpen]="isFieldContextMenuOpen(AddFieldAction)"
  (detach)="onFieldOverlayDetached()"
  (overlayOutsideClick)="onFieldOverlayDetached()"
>
  <app-add-field-overlay
    [baseGUID]="baseGUID!"
    [tableGUID]="selectedTableGUID!"
    (closePanel)="onFieldOverlayDetached()"
    (didClickCreate)="onCreateField($event)"
  ></app-add-field-overlay>
</ng-template>
